<p id="notice"><%= notice %></p>

<p>
  <strong>Playlist:</strong>
  <%= @video.playlist_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @video.url %>
</p>

<p>
  <strong>Download status:</strong>
  <%= @video.download_status %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
